{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <section>
        <div class="container">
            <div class="banner" style="background: url({{ page_content.banner_img.url }})">
                {{ page_content.banner_text | safe }}
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="content">
                {{ content.content |safe }}
            </div>
        </div>
</section>
    {% if showitems %}
     <section>
        <div class="container">
            <div class="production">
                {% for item in page_content.manufactoryitems.all %}
                    <a class="blue-btn" href="{% url 'proizvodstvo_item' item.name_slug %}">{{ item.name }}</a>
                {% endfor %}



            </div>
        </div>
    </section>
    {% endif %}
<section style="background:#ededed; margin-bottom: 0">
    <div class="container">
        <div class="callback-small">
            <p>Чем можем помочь? Свяжитесь с нами</p>
            <a href="mailto:info@asprgroup.ru" type="submit" class="orange-btn">Отправить</a>
        </div>
    </div>
</section>

{% endblock %}
