 <footer class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="footer-top__item">
                    <p>АСПР Групп</p>
                    <ul>
                        <li>- Лояльность</li>
                        <li>- Честность</li>
                        <li>- Профессионализм</li>
                    </ul>
                </div>
                 <div class="footer-top__item">
                    <p>Часы работы</p>
                   <span>ПН–ПТ: 09:00–18:00</span>
                </div>
                 <div class="footer-top__item">
                    <p>Мы на связи</p>
                   <span >ул. Караваевская, 42, офис 14,<br>Санкт- Петербург, Россия</span>
                   <span>+7 (812) 920-81-62<br>info@asprgroup.ru</span>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© 2011 - 2020 АСПР Групп</p>
            </div>
        </div>
    </footer>